.handler {
    position: absolute;
    z-index: 10;
    right: -5px;
    top: 0px;
    height: 100%;
    width: 10px;

    // background-color: red;
    // cursor: ew-resize;

    &:hover {
        background-color: var(--highlight-bg-semi);
        cursor: ew-resize;
    }
}