.data-grid-div {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.data-grid-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.data-grid-thead {
    user-select: none;
    position: sticky;
    top: 0;
    background-color: var(--default-bg);
}

.data-grid-thead-tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid var(--table-td-border);
    border-bottom: 1px solid var(--table-td-border);
    border-left: 1px solid var(--table-td-border);
    z-index: 2;
}

.data-grid-th {
    position: relative;
    padding: .5rem;    
    border-right: 1px solid var(--table-td-border);    
}

.data-grid-tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.data-grid-td:first-child {
    border-left: 1px solid var(--table-td-border);
}

.data-grid-td {
    border-bottom: 1px solid var(--table-td-border);
    border-right: 1px solid var(--table-td-border);
    overflow-x: hidden;
    padding: .5rem;
}