.snack-error {
  background-color: #b71c1c;
  color: white;
}

.snack-warning {
  background-color: rgb(183, 103, 0);
  color: white;
}

.snack-info {
  background-color: rgb(0, 79, 148);
  color: white;
}

.snack-success {
  background-color: #1b5e20;
  color: white;
}
