.root-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background: var(--mat-sys-primary-container)
}

mat-progress-bar {
  position: fixed;
}

.app-icon {
  height: 48px;
  margin-right: 1rem;
  cursor: pointer;
}

.app-title {
  font-weight: 500;
  margin-right: 1rem;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
}