.toolbar {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.pager-page {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}