[Unit]
Description=webapp test
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=user
ExecStart=/srv/app/WebApiServer
EnvironmentFile=/root/secrets/webapp-test.env

[Install]
WantedBy=multi-user.target
