[Unit]
Description=webapp test
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=user
Group=user
SyslogIdentifier=ExampleWebApp
KillSignal=SIGINT
EnvironmentFile=/root/secrets/webapp-test.env
ExecStart=/srv/app/WebApiServer

[Install]
WantedBy=multi-user.target
