[Unit]
Description=Service for example webapp
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=user
Group=user
SyslogIdentifier=ExampleWebApp
KillSignal=SIGINT
EnvironmentFile=/root/secrets/mytest.env
ExecStart=/srv/app/mytest/bin/backend

[Install]
WantedBy=multi-user.target
