.content {
    margin: 1rem;
    line-height: 1rem;
}

:host-context(body.theme-dark) {
    .devText {
        color: yellow;
    }

    .prodText {
        color: rgb(0, 200, 0);
    }
}

:host-context(body.theme-light) {
    .devText {
        color: rgb(224, 138, 0);
    }

    .prodText {
        color: green;
    }
}