mat-card {}

mat-card-title {
    padding: 1rem;
    background-color: var(--bg-header);
}

mat-card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
    text-transform: capitalize;
    border-top: 1px solid var(--default-fg);
}