html {
    color-scheme: light dark;

    &.theme-light {
        color-scheme: light;
    }

    &.theme-dark {
        color-scheme: dark;
    }
}

:root {

    &.theme-light {
        --default-bg: white;
        --highlight-fg: purple;
        --highlight-bg: yellow;
        --highlight-bg-semi: #9cdbff80;
        --table-td-border: rgb(201, 201, 201);
    }

    &.theme-dark {
        --default-bg: #121212;
        --highlight-fg: yellow;
        --highlight-bg: #894e00;
        --highlight-bg-semi: #894e0080;
        --table-td-border: rgb(57, 57, 57);
    }

}